<div id="home-container">
  <div class="greeting">
    {{#each data.greetings}}
      <h1 id="thatsme">{{header}}</h1>
      <p>{{description}}</p>
      <p><a href="#/projects" class="btn">{{cta}}</a></p>
    {{/each}}
    <div class="contact-footer">
      <h3>Me on the interwebs:</h3>
      <ul class="contact-info">
        {{#each data.contact}}
        <li class="{{@key}}"><a href="{{url}}"><span class="contact-icon"><img src="{{icon}}"/></span></a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>