<section class="projects">
  {{#each data.projects}}
    <div class="project">
      <<a href="{{url}}" title="{{title}}"><img class="project-thumb" src="{{image}}"/></a>
      <h1>{{title}}</h1>
      <p>{{description}}</p>
      <ul>
        {{#each tech}}
        <li>{{this}}</li>
        {{/each}}
      </ul>
      <a href="{{url}}" title="{{title}}">View Project</a>
    </div>
  {{/each}}  
</section>
